*{
    font-family: 'Noto Serif', serif;
    font-family: 'Work Sans', sans-serif;
}

img{
    height: 800px;
    width: 600px;
}

#Instructions-for-vegan{
    list-style-type: decimal;
}

#info{
    cursor: pointer;
}

#cp{
    height: 20px;
    width: 20px;
}
#cp:hover{
    background-color: ;
}

#copybtn{
    border-radius: 10px;
}