body{
    background-color: gray;
}
#white{
    height: 75px;
    width: 25px;
    float: left;
    }

#bialy:hover{
    cursor: pointer;
}

#czarny:hover{
    cursor: pointer;
}

#zielony:hover{
    cursor: pointer;
}

#niebieski:hover{
    cursor: pointer;
}

#czerwony:hover{
    cursor: pointer;
}

#black{
    height: 75px;
    width: 25px;
    float: left;
}
#green{
    height: 75px;
    width: 25px;
    float: left;
  }
#blue{
    height: 75px;
    width: 25px;
    float: left;
  }
#red{
    height: 75px;
    width: 25px;
    float: left;
  }
