/* #left{
    
    
}
#up{
   
    
}
#down{
   
    
}
#right{
    
    
} */
.square{
    height: 25px;
    width: 25px;
    background-color: black;
    position: relative;
    transition-duration: 0.1s;
    transition-property: transform;
}